html {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    text-align: center;
}

button.btn {
    border-radius: 10px;
    color: white;
    display: inline-block;
    font-size: 22px;
    font-weight: bold;
    margin: 4px 4px;
    outline: none;
    text-align: center;
}

button#clear,
button#clearLastEntry{
    background-color: rosybrown;
}

button.equal {
    background-color: lightseagreen;
}

.item-display {
    font-size: 38px;
    padding-right: 20px;
    text-align: right;
    background-color: lightsteelblue;
    box-shadow: 20px 20px 50px 10px slategray inset;
    grid-area: screen;
    grid-row-start: 1;
    grid-row-end: 1;
    text-align: right;
    
}

button.btn-number {
    background-color: orange;
    box-shadow: 20px 20px 50px 10px rgb(243, 119, 74) inset;
}

button.btn-operator {
    background-color: lightsalmon;
}

div.calculator {
    display: flex;
    height: 500px;
    justify-content: center;
    left: 50%;
    padding: 20px;
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 350px;
}

div.calculator-container {
    background-color: silver;
    border-radius: 10px;
    box-shadow: 20px 20px 10px grey;
    display: grid;
    justify-content: center;
    grid-template-columns: 80px 80px 80px 80px;
    grid-template-rows: 80px 80px;
    grid-template-areas: 
    "screen screen screen screen" 
    "main main main main" 
    "main main main main" 
    "main main main main" 
    "main main main main" 
    "main main main main";
    padding: 30px;
}