html {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    text-align: center;
}

button.btn {
    border-radius: 10px;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
    color: white;
    cursor: pointer;
    display: inline-block;
    font-size: 22px;
    font-family: "Orbitron";
    margin: 4px 4px;
    outline: none;
    text-align: center;
}

button#clearLastEntry {
    background-color: rgb(124, 77, 77);
}

button#clear {
    background-color: rosybrown;
    grid-column: 1 / span 2;
}

button#equals {
    background-color: lightseagreen;
    grid-column: 2 / span 2;
}

#displayValues{
    border: 0.5px solid rgb(147, 168, 189);
    font-size: 50px;
    font-family: 'Space Mono', monospace;
    margin-top: 20px;
    margin-bottom: 45px;
    padding-right: 20px;
    padding-top: 15px;
    text-align: right;
    background-color: lightsteelblue;
    box-shadow: 20px 20px 50px 10px slategray inset;
    grid-area: screen;
}

button.btn-number {
    background-color: rgb(236, 232, 228);
    box-shadow: 20px 20px 50px 10px rgb(248, 114, 5) inset;
}

button.btn-operator {
    background-color: lightsalmon;
    font-size: 27px;
    font-weight: bold;
}

div.calculator {
    display: flex;
    height: 520px;
    justify-content: center;
    left: 50%;
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);
}

div.calculator-container {
    background-color:rgb(175, 174, 174);
    border: 0.5px dotted grey;
    border-radius: 10px;
    box-shadow: 20px 20px 10px grey;
    display: grid;
    justify-content: center;
    grid-template-columns: 80px 80px 80px 80px;
    grid-template-rows: 80px 80px;
    grid-template-areas: 
    "screen screen screen screen"
    "screen screen screen screen" 
    "main main main main" 
    "main main main main" 
    "main main main main" 
    "main main main main" 
    "main main main main";
    padding: 30px;
}

